/*
* @Author: Administrator
* @Date:   2017-04-10 08:42:30
* @Last Modified by:   Administrator
* @Last Modified time: 2017-04-11 11:17:11
*/
*{
	list-style: none;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html,body{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
body{
    font-family: "苹方","微软雅黑", "Helvetica";
    color: #999;
    overflow: scroll;
}
a{
	text-decoration: none;
}
.header{
	z-index: 999;
	position: absolute;
	left: 0;
	top: 0;
	background-color: #007BE3;
	width: 100%;
	height: 1.26rem;
	overflow: hidden;
}
.header0{
	overflow: hidden;
}
.header0 li{
	width: 20%;
	height: 1.26rem;
	float: left;
	text-align: center;
	line-height: 1.26rem;
	position: relative;
}
.header0>li a{
	font-size: 0.44rem;
	color: #fff;
}
.header0 .kuai{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 2.18rem;
    height: 0.06rem;
    background-color: #fff;
}
.banner{
	width: 100%;
	height: 6.06rem;
	position: relative;
	background: url('../img7/banner.png') center center no-repeat;
	background-size: cover;
}
.banner .banner0{
	width: 2.68rem;
	height: 0.1rem;
	background: #ff8d12;
	position: absolute;
	left: 0;
	bottom: 0;
}
.content{
	width: 100%;
	height: auto;
	padding: 0.2rem 0.34rem 0;
	background-color: #F5F6FA;
}
.mulu{
	width: 100%;
	height: 0.8rem;
	line-height: 0.8rem;
	font-size: 0.3rem;
}
.mulu a{
	margin: 0 0.2rem;
	font-size: 0.3rem;
	color: #494747;
}
.mulu a:nth-child(1) {
	margin-left: 0;
}
.question{
	padding: 0.12rem 0.34rem;
    margin-top: 0.26rem;
    width: 100%;
    height: auto;
    background-color: #fff;
}
.tiao{
	width: 100%;
	height: 1.12rem;
	border-radius: 0.1rem;
	border: 0.01rem solid #01b5ff;
	margin-bottom: 0.2rem;
}
.tiao .tiao1{
	display: block;
	float: left;
	width: 33.333%;
	height: 100%;
	background-color: #01b5ff;
	text-align: center;
	line-height: 1.12rem;
	color: #fff;
	font-size: 0.36rem;
	position: relative;
}
.tiao .tiao1>div{
	position: absolute;
    width: 0rem;
    height: 0rem;
    border: 0.2rem solid;
    border-top-color: #01b5ff;
    border-left-color: transparent;
    border-bottom-color: transparent;
    border-right-color: transparent;
    top: 1.1rem;
    left: 50%;
    margin-left: -0.1rem;
}
.tiao .tiao2,.tiao .tiao3{
	display: block;
	float: left;
	width: 33.333%;
	height: 100%;
	text-align: center;
	line-height: 1.12rem;
	color: #111;
	font-size: 0.36rem;
}
.hot{
	width: 100%;
	height: auto;
	overflow: hidden;
	font-size: 0.24rem;
	padding-top: 0.4rem;
	padding-left: 0.3rem;
	background: #fff;
}
.hot .shu{
	background: #01b5ff;
    display: inline-block;
    float: left;
    margin-left: -0.25rem;
    margin-top: 0.2rem;
    overflow: hidden;
    width: 0.08rem;
    height: 0.28rem;
}
.hot h2{
	color: #333;
	font-size: 0.34rem;
	line-height: 0.5rem;
	margin-bottom: 0.3rem;
}
.hot .yuan{
	width: 0.25rem;
	height: 0.25rem;
	background: url('../img7/hot_01.png') no-repeat;
	float: left;
	margin-left: -0.34rem;
	margin-top: 0.36rem;
}
.hot p{
	color: #666;
    width: 100%;
    line-height: 0.4rem;
}
.hot .ck{
	color: #ff9300;
    display: block;
    text-align: center;
    width: 100%;
    height: auto;
    font-size: 0.34rem;
    margin: 0.3rem auto;
}
.line{
	width: 100%;
	height: 0;
	border-bottom: 0.01rem solid #b8b8b8;
	float: left;
}
.page{
	width: 100%;
	height: 1.2rem;
	margin-top: 0.26rem;
	padding: 0.24rem 0.2rem;
}
.page a{
	display: block;
	float: left;
	text-align: center;
	line-height: 0.74rem;
}
.page a:nth-child(1){
	width: 0.74rem;
	height: 0.74rem;
	background: url('../img7/s1.png') 0 0 no-repeat;
	background-size: 100%;
}
.page a:nth-child(2){
	width: 2.14rem;
	height: 0.74rem;
	background: url('../img7/s2.png') 0 0 no-repeat;
	background-size: 100%;
	margin-left: 0.24rem;
}
.page a:nth-child(3){
	width: 2.02rem;
	height: 0.74rem;
	border: 0.01rem solid #666;
	color: #666;
	font-size: 0.3rem;
	border-radius: 0.4rem;
	margin: 0 0.24rem;
}
.page a:nth-child(4){
	width: 2.14rem;
	height: 0.74rem;
	background: url('../img7/s3.png') 0 0 no-repeat;
	background-size: 100%;
	margin-right: 0.24rem;
}
.page a:nth-child(5){
	width: 0.74rem;
	height: 0.74rem;
	background: url('../img7/s4.png') 0 0 no-repeat;
	background-size: 100%;
}
.copy{
	width: 100%;
	height: 2.4rem;
	margin-bottom: 0.8rem;
}
.copy p{
	font-size: 0.24rem;
	color: #666;
	text-align: center;
	padding-top: 0.2rem;
}
.contact{
	width: 100%;
    height: 1.3rem;
    box-sizing: border-box;
    background-color: #ffffff;
    margin-top: 0.4rem;
    position: absolute;
    left: 0;
    bottom: 0;
    box-shadow: 0 0 0.1rem rgba(0,0,0,0.1);
    z-index: 999;
}
.contact-list{
	width: 100%;
    height: 100%;
    background: #e7e7e7;
}
.contact a{
	width: 30%;
    height: 1.3rem;
    float: left;
}
.contact a div{
	width: 100%;
    height: 100%;
    color: #000;
    background: #e7e7e7;
}
.contact a div span{
	float: left;
    font-size: 0.4rem;
    line-height: 1.3rem;
    margin-left: 0.1rem;
}
.contact a img{
	width: 0.5rem;
	height: 0.5rem;
	float: left;
    margin-top: 0.3rem;
    margin-left: 0.5rem;
}
.contact .phone{
	width: 40%;
    height: 1.3rem;
    position: relative;
    z-index: 99999;
    box-shadow: 0 0 0.08rem rgba(255,126,0,0.1);
    margin-top: -0.2rem;
}
.contact .phone .c2{
	background-color: #ff8d12;
    border-radius: 0.08rem;
    color: #fff;
    text-align: center;
    box-shadow: 0 0 0.15rem #ff8d12;
}
.contact .phone .c2 img{
	width: 0.7rem;
	height: 0.7rem;
}
.contact .phone .c2 span{
	font-size: 0.4rem;
}